head{
  font-family: Roboto;
}
.nav-header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
font-family:Roboto;
max-width: 1200px;
margin: auto;
}
ul{
display: flex;
gap: 30px ;
align-items: center;
list-style: none;
}
li{
  font-size: 20px;
}
.curated-section{
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 70px;
  gap:240px;
}
.convenien-div{
  text-align: center;
  
}
.cura-ted{
  font-weight: bold;
  font-size: 40px;

}
.buil-divh{
  font-size: 18px;
  width: 500px;
}

.asaidinimg{
  border-radius: 20px;
  width: 530px;
}
.enjoy-swction{
  max-width: 1200px;
  margin: auto;
  margin-top:100px;
  align-items: center;
  text-align: center;
}
.keping-h2{
  font-size: 30px;
  font-weight: bold;
}
.keping-p{
  font-size: 18px;
  width: 892px;
  text-align: center;
  margin-left: 135px;
}
.cura-teds{
  
  font-size: 40px;
  width: 398px;
}
.buil-divhs{
  width: 402px;
  font-size: 18px;
}
.explore-furniture{
  font-size: 18px;
  color: coral;
  margin-left: -240px;
}
.asaidinimge{
  border-radius: 10px;
}
.garge-section{
  display:flex;
align-items: center;
max-width: 1200px;
margin: auto;
margin-top: 100px;
}
.garage-sale{
  font-size: 40px;
}
.garage-saleopen{
  font-size: 18px;
  width: 441px;
}
.shop-now{
  color: chocolate;
}
.terms-sale{
  font-size: 16px;
}
.explore-furnitures{
  font-size: 18px;
  color: coral;
  margin-left: -240px;
  margin-top: 40px;
}
.asaidinimges{
  border-radius: 10px;
}